*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    /* background-image: linear-gradient(rgb(245, 148, 148), rgb(166, 78, 224)); */
    background-image: linear-gradient(to bottom, rgba(158, 146, 146, 0), rgb(250, 59, 59));
}

.logo {
    display: block;
    margin: auto;
    margin-top: 12px;
    width: 50px;
    height: 50px;
}

h1 {
    margin-top: 12px;
    margin-bottom: 12px;
    font-size: 2.5vmax;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.container {
    max-width: 60%;
    border: 2px solid black;
    border-radius: 13px;
    margin: auto;
    height: 60vh;
    padding: 33px;
    overflow-y: auto;
    margin-bottom: 23px;
}

.message {
    background-color: rgb(211, 204, 204);
    width: 24%;
    padding: 10px;
    margin: 17px 12px;
    border-radius: 10px;
    word-wrap:break-word;
}
.message::after{
    content: "";
    clear: both;
}
.message .person{
    font-weight: 800;
    text-transform: capitalize;
}
.left {
    float: left;
    clear: both;
}

.right {
    float: right;
    clear: both;
}

#send-container {
    /* display: block; */
    margin: auto;
    text-align: center;
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#messageInput {
    width: 80%;
    border: 2px solid black;
    border-radius: 6px;
    height: 40px;
    font-size: 18px;
}

.btn {
    font-size: 1.5vmax;
    margin: 0 5px;
    width: 9%;
    border-radius: 3px;
    height: 38px;
    cursor: pointer;
    border: 2px solid black;
}

.btn:hover {
    background: none;
    color: white;
}